

<div class="navbar d-flex justify-content-between align-items-center">
    <div class="logo d-flex align-items-center justify-content-center">
      <a href='' id="logoname"  class="text-decoration-none">
      <img src="/assets/image.png" alt="Logo" class="logo-image" />
     
      <span class="font-weight-bold">Quick Service</span>
    </a>
    </div>
    <div class="navlink d-flex gap-4">
      <a id="nava" href=''>Home</a>
      <a id="nava" href="home#Book">Service</a>
      <a  id="nava" href="#About">About US</a>
      <a id="nava" href="Contact-us">Contact</a>
       <!-- Call Us Button here -->
       <div class="button-wrapper">
        <div class="ring outer-ring"></div>
        <div class="ring inner-ring"></div>
        
        <button class="call-us-btn"> <a href="tel:+919065686407" id="callbutton">Call Us</a></button>
    </div>
  
    </div>
  </div>
   

      <!-- <a href="tel:+1234567890" class="call-us-btn">Call Us</a> -->